snippet greekdoc
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background: #D0F0D0;
}
.justify{
  max-width: 70%;
  margin: auto;
  text-align: justify;
}
.content {
  max-width: 70%;
  margin: auto;
  background: white;
  padding: 10px;
}
</style>
</head>
<body>
$1
</body>
</html>

endsnippet

snippet par
	<par class= ${1:""}>
	$2
	</p>$0
endsnippet
